.main{
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

.main-nameTextFieldWrapper{
    -fx-spacing: 10px;
}

.main-nameLabel{
    -fx-font-size: 16px;
}

.main-answerLabel{
    -fx-font-size: 14px;
}

.main-questionContainer{

}

.main-questionsBox{
    -fx-background-color:transparent;
}