.header{
    -fx-background-color: #2867ff;
    -fx-padding: 20px;
}

.header-text{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24px;
}

.main{
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

.main-container{
    -fx-spacing: 10px;
}

.main-nameLabel{
    -fx-font-size: 16px;
}

.footer{
    -fx-padding: 20px;
    -fx-spacing: 5px;
}