.header{
    -fx-background-color: #2867ff;
    -fx-padding: 20px;
}

.header-text{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24px;
}

.main{
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

.main-quizTitle{
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-text-fill: #2867ff;
}

.main-quizTime{
    -fx-font-size: 16px;
}

.main-quizDescription{

}

.footer{
    -fx-padding: 20px;
    -fx-spacing: 5px;
}