.header{
    -fx-background-color: #2867ff;
    -fx-padding: 20px;
}

.header-text{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24px;
}

.main{
    -fx-padding: 20px;
    -fx-spacing: 5px;
}

.main-questionLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.main-answersBox {
    -fx-spacing: 5px;
    -fx-padding: 0 0 10px 0;
}

.main-questionCodeLabel{
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-font-family: Consolas;
}

.right-timerLabel{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.footer{
    -fx-padding: 20px;
    -fx-spacing: 5px;
}